.header-fixed {
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}


.header {
    width: 100%;
    background-color: #fff;
    height: auto;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
    }

    &__wrap-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto 20px;
        img {
            height: 60px;
            width: auto;
            margin: auto;
        }
    }

    &__wrap-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 830px;
        margin: auto 0 auto auto;
        .button {
            margin: auto;
            &__content {
                color: #092C6D;
                font-family: 'Rubik', sans-serif;
                font-size: 18px;
                text-decoration: none;
                &__active {
                    color: #FF0000;
                    border-bottom: 3px solid #092C6D;
                }
            }
            &__number {
                color: #092C6D;
                font-family: 'Futura PT';
                font-weight: 600;
                font-size: 18px;
            }
        }
        .button-icon {
            margin: 0;
        }
    }
}