$px: .0520833333333;
$pxm: 0.130208;
$pxmf: 3.478;
$pxmd: 0.09765625;
$pxmt: 0.130208;
$pxm: 0.2666;

$darkcolor: #000000;
$hoverbuttonhover: #C9AE1F;

@mixin elselist {
  ul, ol{
    line-height: 121%;
    color: #000000;
    font-weight: 300;
    margin-bottom: 24px;
    li{
      position: relative;
      padding-left: 20px;
      &:before{
        position: absolute;
        top: 6px;
        left: 0;
        content: "";
        display: block;
        width: 7px;
        height: 8px;
        background-image: url("../../images/list-marker.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
@mixin elseradio{
  label{
    display: flex;
    width: calc(50% - 17px);
    @media all and (max-width: 550px) {
      width: 100%;
    }
    &.first-select{
      justify-content: flex-end;
      @media all and (max-width: 550px) {
        justify-content: flex-start;
        margin-bottom: 20px;
      }
    }
    span{
      font-size: 1.4rem;
      line-height: 100%;
      color: #FFFFFF;
      position: relative;
      display: flex;
      align-items: center;
      &:before{
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border: 2px solid #A6A9AA;
        border-radius: 50%;
        margin-right: 12px;
      }
      &:after{
        content: "";
        position: absolute;
        display: none;
        top: 7px;
        left: 6px;
        width: 8px;
        height: 8px;
        background-color: #FF3A24;
        border-radius: 50%;
      }
    }
  }
  input{
    display: none;
    &:checked + span{
      &:before{
        border: 2px solid white;
      }
      &:after{
        display: block;
      }
    }
  }
}