@import "_normalize.scss";
body {
  margin: 0;
}
*{
  box-sizing: border-box ;
}
.flex {
  display: flex;
}

.conteiner {
  max-width: 1300px;
  padding: 0 100px;
  width: 100%;
  height: auto;
  margin: auto;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 44px;
  color: #fff;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #092C6D;
  text-align: center;
}

h3 {
  font-size: 24px;
  color: #092C6D;
}

h4 {
  font-size: 18px;
  color: #092C6D;
}


.small__button {
  width: 170px;
  height: 50px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B9110D;
  border-radius: 4px;
}

.big-small__but_content {
  color: #fff;
  font-family: 'Futura PT';
  font-weight: 400;
}

a {
  text-decoration: none;
}

.big__button {
  width: 460px;
  height: 50px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B9110D;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  border-radius: 4px;
  margin: 25px auto 100px auto;
}

.card {
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}




@import "_fonts.scss";
@import "_header.scss";
@import "_section-main.scss";
@import "_schedule.scss";
@import "_mailing.scss";
@import "_inform.scss";
@import "_footer.scss";
@import "_media.scss";